spring:
  application:
    name: monolith-app
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: never

server:
  port: ${PORT:8080}

auth:
  jwt:
    secret: change-me-in-prod-must-be-at-least-256-bits-long-secret-key!
    access-token-ttl-seconds: 900
    refresh-token-ttl-days: 7
